a:focus
{background-color: #FFCC66;}

<!-- En tête -->

nav
{text-align: center;}

ul
{list-style-type: none;}

li
{display: inline;
 }

<!-- Section 1-->

h3 + h4
{font-size: 1em;
 color: grey;}

p + p
{font-size: 0.8em;
 color: grey;}
