
* 
{ margin: 0px;
  padding: 0px;}

/* head */

body 
{ font: normal 1.1em 'Gowun Dodum', sans-serif; 
  overflow-x: hidden;}
 
ul 
{ text-align: right;   
  height: 20px; 
  padding-left: 150px;}
 

 
ul a 
{ color: blue; 
  padding: 0 10px; 
  text-decoration: none;}
 
ul a:hover 
{ color: #333;}





/* header */

 /* navigation */

ul
{list-style-type: none;}

img + .nav
{display: flex;
 flex-wrap: wrap;}

.nav li
{ display: inline;
  width: 350px;
  text-align: right;
  vertical-align: top;}

a:focus
{ border: 0.9px #4c4ca28c solid;}


 /*Input*/

#input img p
{border:solid blue;
 border-radius: 10px;}


/* Les conteneurs */

 div figure
  { border: 10px grey;
    border-radius: 10px;
    margin:0px;}
 



/*Footer*/

.footer
{display: flex;
 flex: }





/*Pour mobile */
@media-query 