a:focus
{background-color: #FFCC66;}

/* En tête */

nav
{text-align: center;}

ul
{list-style-type: none;}

li
{display: inline;}

/* Première section */

#conteneur
  {border-radius: 10px grey;
   display: inline; flex; justify-content: space-around;}

h3 + h4
  {font-size: 1em;
   color: grey;}

p + p
  {font-size: 0.8em;
   color: grey;}


/*Footer*/

footer 
  {display: flex;}
