*
{ margin: 0px;
  padding: 0px;}

 a
 {text-decoration: none;
  color: black;}



   /* head */

body
{ font: normal 1.1em 'Raleway', sans-serif;
  overflow-x: hidden;}



  /* header */


    /* navigation */

ul
{list-style-type: none;}

nav
{margin-top: 30px;}
 
nav li
{display: inline;
 float: right;
 margin-top: 20px;
 font-weight: bold;}
 
 nav ul a
{ color: #0065FC;
  padding: 0 10px;
  text-decoration: none;}
 
nav ul a:hover
{color: grey;}

a:focus
{color: #DEEBFF
 border-top: 1px #DEEBFF solid;}



    /* Première section */

#h4
{margin-top: 35px;
 margin-left:  15px;}

h5
{margin: 15px;
 color: grey;}

#h5

{display: inline-flex;
 margin: 10px;}

#h5 i
{margin: 15px 15px 0 15px;
 color: blue;}


    /*Input*/

.input
{margin: 40px 15px;
 margin-right: 450px;
 display: flex;
 height: 30px;}

.input i
{display: flex;
 align-items: center;
 justify-content: center;
 width: 30px;
 border:solid 2px #F2F2F2;
 background-color: #F2F2F2;
 border-radius: 10px 0 0 10px; }

.input button
{ display: flex;
  align-items: center;
  font-weight: bolder;
  height: 30px;
  width: 85px;
  padding-left: 5px;
  color: white;
  border: none;
  background-color: #0065FC;
  border-radius: 0px 10px 10px 0; }

   /* Filtres*/

#filtrep
{margin: 15px;}

.filtre
{display: flex;
 flex: wrap;
 margin: 10px 0px 10px 0px;}

.filtre ul
{margin: 5px 15px;
 display: flex;
 flex: row;}

.filtre li

{margin: 0 30px 0 30px;
 display: flex;
 flex: wrap;}

.filtre i
{display: flex;
 flex: row;
 height: 30px;
 width: 30px;
 align-items: center;
 justify-content: center;
 color: #0065FC;
 border: none;
 background-color: #DEEBFF;
 border-radius: 100px; }

.filtre p
{display: flex;
 flex: row;
 padding: 5px;
 border: solid 2px #F2F2F2;
 border-left: none;
 border-radius: 0 20px 20px 0;}


  /* Les conteneurs */

     /*Général*/
 
h3
{margin:30px;}


   /*Conteneur1*/

 #populaires
{float: right;
 margin: 85px 20px 20px 5px;
 width: 25%;
 display: flex;
 flex: column;
 border: solid 1px #F2F2F2 ;
 background-color: #F2F2F2;
 border-radius: 15px;}

#populaires figure
{margin: 15px;
 width: 430px;
 border: solid 1px white ;
 background-color: white;
 border-radius: 15px;
 box-shadow: 10px;}


#populaires img
{width: 190px;
 margin: 2px;
 border: white 2px solid;
 border-radius: 15px 0 0 15px;}

#populaires i
{color: #0065FC;
 height: 25px;
 margin-left: 2px;}

 #populaires p
{height:  25px; }

   
   /*Conteneur2*/


#hébergements
{margin-top: 20px;
 margin-bottom: 20px;
 width: 70%;
 border: solid 1px #F2F2F2 ;
 background-color: #F2F2F2;
 border-radius: 15px;}

#hébergements figure
{width: 240px;
 margin : 15px;
 border: solid 1px white ;
 background-color: white;
 border-radius: 15px;
 box-shadow: 10px;}

#hébergements figcaption
{margin: 15px;}

#hébergements img
{margin: 2px;
 width: 230px;
 border: white 2px solid;
 border-radius: 15px 15px 0 0;}

#hébergements p
{margin: 3px;}

#hébergements i
{color: #0065FC;
 margin: 3px;
 height: 10px;}


   /*Conteneur3*/

 #activités
{display: flex;
 flex: column;
 margin: 20px 20px;
 padding: 20px;}


#activités figure
{ margin: 35px 20px;
  display: flex;
  flex: wrap;
  width: 90px;
  height: 180px;
  justify-content: space-around;
  border: solid 1px whitesmoke;
  background-color: whitesmoke;
  box-shadow: 40px;
  padding: 35px;
  border-radius: 15px;}


#activités img
{width: 150px;
 border: none;
 border-radius: 15px 15px 0 0;}


 #activités p
 {size: 1.5em;
  justify-content: center;}
 

   /*Footer*/

footer
{width: 100%;
 height: 150px;
 background-color: #f3f0f0;
 display: flex;}

footer ul
{ float: left;
  font-size: 18px;
  padding: 35px;
  margin: 0 65px 0 200px; }




   /*Pour mobile */
@media-query 